<!DOCTYPE html>
<html>
<head>
    <style>
        .c1{
            margin-top:0px;
            margin-bottom:0px;
            display:inline-block;
        }
    </style>
</head>
<body>
    <h3>Covid-19 Statistics on {{ date }}</h3></br>
    
    <p class="c1">Confirmed:  
    <h4 class="c1" style="color:red;margin-left:10px">{{ confirm }}</h4></p>
    
    <p class="c1">Recovered:  
    <h4 class="c1" style="color:green;margin-left:10px">{{ recover }}</h4></p>
    
    <p class="c1">Deceased:   
    <h4 class="c1" style="color:gray;margin-left:17px">{{ death }}</h4></p>
    
    </br>

    <h3>Statistics Till Date</h3></br>

    <p class="c1">Confirmed: 
    <h4 class="c1" style="color:red;margin-left:10px">{{ confirmed }}</h4></p>
    
    <p class="c1">Active:    
    <h4 class="c1" style="color:blue;margin-left:36px">{{ active }}</h4></p>
    
    <p class="c1">Recovered: 
    <h4 class="c1" style="color:green;margin-left:10px">{{ recovered }}</h4></p>
    
    <p class="c1">Deceased:  
    <h4 class="c1" style="color:gray;margin-left:17px"> {{ deaths }}</h4></p>
    
    </br></br>

    <p>If you wish to unsubscribe, visit this link: <a href="https://www.covid19inindia.in/Unsubscribe">Unsubscribe.</a></p>
    <br/><br/>
    Warm Regards,
    <br/>   
    
    <hr style="width:30%; margin:10px 0px; color:blue;height:2px;background-color:blue">
    <pre  style="font-family:Ariel;padding:0px;margin:5px">
Admin, 
Covid19inIndia
<a href="mailto:Admin@covid19inindia.in">Admin@covid19inindia.in</a>
<a href="https://www.covid19inindia.in/">www.covid19inindia.in</a> 
</pre> 
</body>
</html>