<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h3>Thank You for Subscribing.</h3>
    <p>You have successfully subscribed for the daily updates.</p>
    <p>If you wish to unsubscribe, visit this link: <a href="https://www.covid19inindia.in/Unsubscribe">Unsubscribe.</a></p>
    <br/><br/>
    Warm Regards,
    <br/>   
    
    <hr style="width:30%; margin:10px 0px; color:blue;height:2px;background-color:blue">
    <pre  style="font-family:Ariel;padding:0px;margin:5px">
Admin, 
Covid19inIndia
<a href="mailto:Admin@covid19inindia.in">Admin@covid19inindia.in</a>
<a href="https://www.covid19inindia.in/">www.covid19inindia.in</a> 
</pre> 
</body>
</html>