<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h3>So sorry to see you go.</h3>
    <p>You have successfully unsubscribed for the daily updates.</p>
    <p>If you are facing issues with us, please let us know at <a href="mailto:Admin@covid19inindia.in">Admin@covid19inindia.in.</a></p>
    <br/><br/>
    Warm Regards,
    <br/>   
    
    <hr style="width:20%; margin:10px 0px; color:blue;height:2px;background-color:blue">
    <pre  style="font-family:Ariel;padding:0px;margin:5px">
Admin 
Covid19inIndia
<a href="mailto:Admin@covid19inindia.in">Admin@covid19inindia.in</a>
<a href="https://www.covid19inindia.in/">www.covid19inindia.in</a> 
</pre> 
</body>
</html>